@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header>h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header>p{
    padding-bottom: 50px;
}
section.normal{
    background-color: white;
    color: rgb(0, 0, 0);
}
section.imagem{
    
    background-color: rgba(53, 49, 49, 0.301);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
}

section{
    font-family: cursive;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding: 30px;
}
section.imagem>p{
    text-shadow: 1px 1px 0px black;
    background-color: rgba(75, 71, 71, 0.205);
    width: 250px;
    ba}
section#img01{
background-image: url('../imagens/background001.jpg');
background-position: right center;


}
section#img02{
background-image: url('../imagens/background002.jpg');
background-size: cover;
background-position: right center;
}



